<section class="about-me">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>About Me</h2>
        <p>
          Hello! I'm Rithika Kalitkar, a passionate and results-driven software
          engineer with a strong foundation in Computer Science and a Master's
          degree in Computer Science from the College of Engineering and Applied
          Science, University of Cincinnati, where I graduated with a GPA of
          3.88/4.
        </p>
        <p>
          My journey in the world of technology began with a Bachelor's degree
          in Computer Science from the University College of Engineering,
          Osmania University, where I achieved a GPA of 9.23/10. Since then,
          I've been on a continuous learning path and have gained expertise in
          various technical skills and tools.
        </p>
      </div>
      <div class="col-md-6">
        <h2>Contact Information</h2>
        <ul>
          <li>
            Email:
            <a href="mailto:rithikakalitkar@gmail.com"
              >rithikakalitkar@gmail.com</a
            >
          </li>
          <li>Phone: (+1) 785-813-4353</li>
          <li>
            LinkedIn:
            <a
              href="https://www.linkedin.com/in/rithikakalitkar"
              target="_blank"
              >linkedin.com/in/rithikakalitkar</a
            >
          </li>
          <li>
            GitHub:
            <a href="https://github.com/rithikakalitkar" target="_blank"
              >github.com/rithikakalitkar</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
